body{
    width: 100%;
    height: 160vh;
    background-image: linear-gradient(to bottom, #2a3385, #c47747);
    background-repeat: no-repeat;
    
    main{
        .galeria{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 2%;            
            .carta{
                margin: 1%;
            }
            .estilosCarta{
                color: white;
                text-align: center;
                width: 500px;
                height: 500px;
                padding: 10%;
                border: 2px solid white;
                border-radius: 50%;
                .estilosCartaTitulo{
                    font-size: 33px;
                }
                .cartaImg{
                    width: 100px;
                    height: 100px;
                }
            }
        }
        
    }
}